*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #555;
  color: white;

}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-weight: 500;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navLinks a:hover {
  text-decoration: underline;
}

.authButton {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.authButton:hover {
  background-color: #f1f1f1;
  color: black;
}

.navButton {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}
.navButton:hover {
  text-decoration: none;
  background-color: #f1f1f1;
  color: black;
}


