/* DashboardAdmin.module.css */
*{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;

}
.dashboardContainer {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #333;
  color: white;
  padding: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  overflow-x: hidden;
  min-width: 200px;
}

.sidebarMinimized {
  width: 60px; /* Largura minimizada */
  min-width: 60px;
}

.sidebarMinimized h2,
.sidebarMinimized nav,
.sidebarMinimized .logoutButton {
  display: none;
}

.sidebarMinimized .toggleSidebarButton {
  margin-bottom: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar nav {
  margin-bottom: 20px;
}

.sidebar nav button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  background-color: #444;
  color: white;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar nav button:hover {
  background-color: #555;
}

.sidebar .logoutButton {
  background-color: #444;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 0.8rem;
}

.sidebar .logoutButton:hover {
  background-color: #555;
}

.sidebar .toggleSidebarButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  margin-bottom: 20px;
  text-align: left;
  font-size: 1rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar .toggleSidebarButton:hover {
  color: #ccc;
}

.mainContent {
  flex-grow: 1;
  padding: 10px; /* Padding máximo de 10px */
  transition: margin-left 0.3s ease-in-out;
  /* A margem esquerda será controlada pela classe condicional abaixo */
}

.mainContentMinimized {
  margin-left: 60px; /* Margem quando a sidebar está minimizada */
}

/* Nova classe para quando a sidebar está expandida */
.mainContentExpanded {
  margin-left: 250px; /* Margem quando a sidebar está expandida */
}

.mainContent h1,
.mainContent h2 {
  margin-bottom: 20px;
}

.mainContent section {
  margin-bottom: 30px;
}

.mainContent .actionButton {
  background-color: #f8f9fa;
  color: #495057;
  padding: 10px 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  margin-right: 10px;
}

.mainContent .actionButton:hover {
  background-color: #e2e6ea;
  border-color: #adb5bd;
  color: #212529;
}

.mainContent .poemListContainer,
.mainContent .profileListContainer,
.mainContent .userListContainer {
  margin-top: 20px;
  /* Adicione estilos específicos para os containers de lista se necessário */
}

.mainContent .error {
  color: red;
  margin-top: 10px;
}